@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
body {
    /* TODO: добавить файл шрифтов*/
    font-family:  "Roboto Thin", sans-serif;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

